.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 406px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 406px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 29px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 406px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 31px auto 0;
  padding: 10px 30px;
}

.u-section-1 .u-icon-6 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 804px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 406px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 29px auto 0;
  padding: 10px 30px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-2 .u-btn-4 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 62px 168px 0 169px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 168px 0 169px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 2px auto 0 169px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 34px;
  height: 39px;
}

.u-section-3 .u-list-1 {
  width: 447px;
  margin: 27px auto 0 169px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 20px 20px;
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 45px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/brouLogo.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/oca.png");
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/visa.png");
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/masterLogo.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-list-2 {
  width: 910px;
  margin: 20px 61px 0 auto;
}

.u-section-3 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 91px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 2.5em;
  color: rgb(44, 204, 196) !important;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  font-size: 2.5em;
  color: rgb(44, 204, 196) !important;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  font-size: 2.5em;
  color: rgb(44, 204, 196) !important;
}

.u-section-3 .u-text-3 {
  margin: 30px 168px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 803px;
    margin-left: 69px;
    margin-right: 68px;
  }

  .u-section-3 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 68px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 69px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-3 .u-list-1 {
    margin-left: 69px;
  }

  .u-section-3 .u-list-2 {
    margin-right: 30px;
  }

  .u-section-3 .u-text-3 {
    width: 803px;
    margin-left: 69px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 330px;
    margin-top: 28px;
    margin-left: 94px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 161px;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 216px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 245px;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 142px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-3 .u-list-2 {
    width: 540px;
    margin-top: 22px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}